<div class="bg-black" id="cast">
  {{ partial "section-header" (dict "image" .image "section" "Cast") .Params }}
  <div class="mw9 center pv5 ph3-ns">
    <div class="flex flex-wrap ph2-ns">
      {{ range .members }}
      <div
        class="pa4 white mw-8 ph6l flex flex-column-reverse flex-row-ns center"
      >
        <div class="mr4 mw360-ns">
          <h3 class="primary f3 f2-l">
            {{.name}}
          </h3>
          <ul>
            {{ range .credits }}
            <li class="reveal-credit">{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        <div>
          <img src="{{ .image }}" alt="{{ .name }}" />
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
