<div class="bg-black" id="credits">
  <div
    class="bg-center cover flex items-center ph5"
    style="background-image: linear-gradient(to right, rgba(0,0,0,1) 20%, rgba(0,0,0,0)), url('{{.image}}'); height: 600px;"
    id="cast"
  >
    <div class="mw7 ph3 mt-auto">
      <div class="db mb3">
        <div class="mw7 relative bg-fix-primary mb2">
          <h1 class="f2 f1-l b di lh-title white mw6">
            Credits
          </h1>
        </div>
        <div class="mw7 relative bg-fix-primary">
          {{ if .subtitle }}
          <p class="b f5 di lh-title mb3 grey-2 mw6">
            {{.subtitle}}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="mw9 center pv5 ph3-ns relative overflow-hidden flex">
    <div class="creditblock"></div>
    <div class="credits absolute">
      <div class="cf ph2-ns">
        {{ range .roles }}
        <div class="pa2 reveal-credit">
          <div class="white center ph6">
            <h3 class="f3 b">
              {{.role}}
            </h3>
            <ul>
              {{ range .members }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="flex flex-wrap ml-33">
      {{ range .bts }}
      <div class="w-100 w-33-ns ph1-ns">
        <img src="{{ . }}" alt="" />
      </div>

      {{ end }}
    </div>
  </div>
</div>
