<nav
  class="overflow-x-scroll overflow-x-visible-ns flex justify-end items-center center absolute left-0 right-0"
>
  <!-- Primary Nav -->
  <ul class="flex b grey-2">
    <li><a href="#trailer" class="pa3 no-underline db">Trailer</a></li>
    <li><a href="#about" class="pa3 no-underline db">About</a></li>
    <li><a href="#cast" class="pa3 no-underline db">Cast</a></li>
    <li><a href="#crew" class="pa3 no-underline db">Crew</a></li>
    <li><a href="#credits" class="pa3 no-underline db">Credits</a></li>
  </ul>
</nav>
