<form
  action="https://nightdrivefilm.us4.list-manage.com/subscribe/post"
  method="POST"
  class="flex-ns mb3"
>
  <input type="hidden" name="u" value="0145fd24266aeadcdc6d2b28a" />
  <input type="hidden" name="id" value="7abfb27b7e" />
  <fieldset
    class="flex-auto mb2 mb0-ns mr2-ns"
    name="newsletter"
    action="newsletter-subscribe"
  >
    <input
      type="text"
      name="MERGE0"
      id="MERGE0"
      placeholder="Your email"
      class="w-100"
    />
    <label for="MERGE0">Your email</label>
  </fieldset>

  <button
    class="btn mb3 w-100 w-auto-ns mb0-ns raise bg-primary white"
    type="submit"
  >
    Submit
  </button>
</form>
